<h2 class="archive__item-title" itemprop="headline">
  {{ post.title }}
</h2>

{% if post.authors %}
  <p><strong>Authors:</strong> {{ post.authors | join: ", " }}</p>
{% endif %}

{% if post.paperurl %}
  <p><a href="{{ post.paperurl }}" target="_blank">Download paper</a></p>
{% endif %}

{% if post.citation %}
  <p><strong>Citation:</strong> {{ post.citation }}</p>
{% endif %}

{% if post.excerpt and site.read_more != 'enabled' %}
  <p class="archive__item-excerpt">{{ post.excerpt }}</p>
{% endif %}
